@import '../../../styles/variables';
@import '../../../styles/index.scss';

.show-card {
	font-family:$text;
	margin: 1em;
	padding: 0;
	justify-content: middle;
	width: 320px;

	.ticket-image {
		clip-path: url(#ticket-clip);
		margin-bottom: -50px;
		img {
			width: 100%;
		}
	}
}

