@import '../../../styles/variables';
@import '../../../styles/index.scss';

.show-card {
	font-family:$text;
	margin: 1em;
	padding: 0;
	justify-content: middle;

	.ticket-image {
		clip-path: url(#ticket-clip);
		-webkit-clip-path: url(#ticket-clip);
		margin-bottom:-20%;
		img {
			width: 100%;
		}
	}
}

