@import '../styles/variables';
@import '../styles/index.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
.App {
  margin: 0;
  font-family: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  p {
    margin: 0;
  }
  .content {
    min-height: 50vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
  }
}