@import '../../../styles/variables';
@import '../../../App/App.scss';
.cart-container {
  margin: 50px 0;
  .cart-summary {
    background-color: $lightGrey;
    padding:0px;
    border: 2px solid $lightGrey;
    box-sizing: border-box;
    .cart-summary-top {
      padding: 40px 20px;
      padding-right:-20px;
    }
    .cart-summary-middle {
      width: 100%;
      padding: 20px;
      padding-right: 40px;
      background-color:$white;
    }
    .cart-summary-bottom {
      width: 100%;
      .button-1 {
        margin: 20px 5%;
        width:90%;
      }
    }

  }
  th:last-child,
  td:last-child {
    text-align: right;
  }
  section {
    border-top: 1px solid #efefef;
  }
  h1 {
    font-size: $h1;
    font-weight:$bold;
  }
  h2 {
    font-size:$h2;
  }
  h3 {
    font-size:$h3;
  }
  h4 {
    font-size:$h4;
    font-weight:$light;
  }
  p {
    font-size:$para;
    font-weight: $light;
  }
  .bold {
    font-weight:$bold;
  }
  .mini{
    font-size:$mini;
  }
  .light{
    font-weight: $light;
  }
  #quantity{
    width: 3em;
  }

}

.cart-image {
  width: 200px;
  img {
    width:100%;
  }
  clip-path: url(#ticket-clip);
}