@import '../../../styles/variables';

.col-md-2 {
  padding: 0;
}
.offer-body {
  min-width:300px;
  margin: 10px 5px;
  padding: 75px 1px;
  .offer-detail {
    background-color: $white;
    padding: 10px;
    margin: 0 -14px;
    h1 {
      font-size: $h2;
      font-weight: $light;
      margin-bottom: 0;
    }
    h2 {
      text-transform: capitalize !important;
    }
    h5 {
      margin-top: 0;
    }
    button {
      margin: 20px 0;
    }
  }
}


#Community {
  background-color: $community;
}
#Indie {
  background-color: $indie;
}
#Broadway {
  background-color: $broadway;
}
#Hollywood {
  background-color: $hollywood;
}

.clip-tix {
  clip-path: url(#vertTicket);
}