@import '../../../styles/variables';

.subscription-card {
  width: 300px;
  margin: 20px;
  .offer-body {
    margin: 10px 5px;
    padding: 75px 1px;
    clip-path: url(#subscription-ticket-clip);
    -webkit-clip-path: url(#subscription-ticket-clip);
    .offer-detail {
      background-color: $white;
      padding: 10px;
      h1 {
        font-size: $h2;
        font-weight: $light;
        margin-bottom: 0;
      }
      h2 {
        text-transform: capitalize !important;
      }
      h5 {
        margin-top: 0;
      }
      button {
        margin: 20px 0;
      }
    }
  }

}


#Community {
  background-color: $community;
}
#Indie {
  background-color: $indie;
}
#Broadway {
  background-color: $broadway;
}
#Hollywood {
  background-color: $hollywood;
}

.clip-tix {
  clip-path: url(#vertTicket);
}